
.menu{
    display: flex;
    width: 1110px;
    height: 60px;
    margin-left: 115px;
    
}
   
.logo{
   padding: 2px 9px;
   background: #6A9B96;
   color: white;
   border-radius: 10px;
   text-decoration: none;
   text-align: center;
   font-size: 20px;
   font-style: normal;
   font-weight: 600;
   line-height: 140%;
  
}

.menu-wrapper{
   width: 70px;
   height: 20px;
   padding: 70px;
   text-decoration: none;
   color: black;
   font-size: 14px;
   font-style: normal;
   font-weight: 300;
   line-height: 140%; 
}
.btn{
   
    width: 160px;
    height: 40px;
    padding: 9px 15px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    background: #6A9B96;
    color: white;
}
    
.slide{
    width: 1110px;
    height: 600px;
    flex-shrink: 0;
    background: url(<path-to-image>);

}

.slider-wrapper{
    height: 700px;
    margin-top: 70px;
    margin-left: 115px;
}
.carousel-indicators{
    top: 620px;
    margin-right: auto;
    
}
.carousel-indicators [data-bs-target]{
    margin: 10px;
    width: 30px;
    height: 16px;
    background: #6A9B96;
    
}
.img-fluid{
   position: relative;
   width: 1110px;
   height: 600px;
   
}
.modal-section{
   display: flex;
   justify-content: center;
   width: 1110px;
   height: 366px;
   flex-shrink: 0;
   margin-top: 158px;
   justify-content: center;
    
}
h4{
    display: flex;
    justify-content: center;
    margin-left: 150px;
  
}
.text{
   justify-content: space-around;
}   
.btn-wrapper{
   width: 446px;
   height: 100px;
   flex-shrink: 0;
   border-radius: 20px;
   opacity: 0.3;
   background: #F09E68;
   border: none;
   color: black;
   text-align: center;
   font-size: 30px;
   font-style: normal;
   font-weight: 400;
   line-height: 140%;
   margin-left: 170px;
   margin-top: 251px;
}
   
    
.tab-content{
   background: #C3D2CB;;
   width: 635px;
   height: 198px;
   font-size: small;
   padding-right: 116px;
   padding-left: 34px;
   padding-top: 58px;
   border-radius: 0px 0px 20px 20px;
   margin-left: 80px;
    
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
    background-color: #6A9B96;
    color: black;
    width: 139px;
    height: 50px;
    border-radius: 20px 20px 0px 0px;
   margin-left: 80px;
}
.nav-link{
    color: black;
}
.tabl-wrapper{
    display: flex;
    justify-content: end;
    margin-left: 200px;
    margin-top: -200px;
   
}
.accord-section{
    padding-top:141px;
    margin-right: 230px;
    
}
.accordion{
    width: 730px;
    height: 50px;
    margin: 92px 0 300px 300px;
}
.accordion-button:not(.collapsed){
    background-color: #FBDCC7;
    color: black;
    text-decoration: none;
}
.footer{
    margin-top: 100px;
    padding: 20px 0;
    font-size: small;
    font-weight: bold;
}
  
    

 

    